{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block body %}
<div class="container py-4">
    <header class="text-left text-dark py-1">
      <h4 class="display-6 font-weight-bold mb-4">Please check these out:</h4>
      <p class="lead mb-0"><a href="https://youtu.be/6pV2IF0fgKY" class="link-danger">
    Clear-cut explanation on Youtube by Abdul Bari Sir</a></p>
      <p class="lead mb-0"><a href="https://www.geeksforgeeks.org/iterative-merge-sort/" class="link-success">GeeksforGeeks article</a></p>
      </p>
    </header>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Greetings!!</h5>
      <h6 class="card-subtitle mb-2 text-muted">✨✨✨</h6>
      <p class="card-text">Have a look at how this website was made.</p>
      <a href="https://github.com/vidhi-kumar/WebMergeSort-Flask" class="card-link">GitHub</a>
    </div>
  </div>

{% endblock body %}